<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">NEXT 5 RACES</div>
                    <div class="panel-body">
                        <div class="filter">
                          <div class="row" >
                            <div class="col-sm-4 icon" :class="(selectedTypes[key])?'selected '+type.name:'no-selected '+type.name"   v-for="( type , key) in types" v-on:click="filterType(key)">
                                <div class="seal">
                                  <img :src="'/image/'+ type.name+ '.png'"></img>
                                </div>
                            </div>
                          </div>
                        </div>
                        <ul id="next5-racing-list">
                          <li v-for="racing in racings">
                            <div class="row" v-on:click="showRacing(racing.id)">
                                <div class="col-sm-2 icon">

                                      <img :src="'/image/'+ racing.type.name+ '.png'"></img>

                                </div>
                                <div class="col-sm-2">
                                    {{ racing.name }}
                                </div>
                                <div class="col-sm-8 countdown">
                                   <span>{{ getCountdown(racing.start_time,racing.id) }}</span>
                                </div>
                            </div>

                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"  v-if="hasSelected">
          <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                  <div class="panel-heading">{{selectRacing.name }} - {{ selectRacing.start_time | moment  }}</div>
                  <div class="panel-body selectedRacing">
                      <div class="row">
                        <div class="col-sm-6">
                           <h2>{{selectRacing.name}} - {{selectedRacingType.name}}</h2>
                           <span>{{selectedRacingMeeting.name}}</span>
                        </div>
                        <div class="col-sm-6 countdown">
                           <p>{{getCountdown(selectRacing.start_time,selectRacing.id)}} TO GO</p>
                           <button class="btn btn-primary" v-if="getCountdown(selectRacing.start_time,selectRacing.id)!=='closed'">BET</button>
                           <p   v-if="getCountdown(selectRacing.start_time,selectRacing.id)=='closed'">BET Closed</p>
                        </div>
                      </div>
                        <hr>
                          <table class="table tabel-striped">
                              <tr>
                                <th>POSITION</th>
                                <th>NAME</th>
                              </tr>
                              <tr v-for="player in selectedCompetitors">
                                <td># {{player.pivot.position}}</td>
                                <td>{{player.name}}</td>
                              </tr>
                          </table>

                  </div>
              </div>
          </div>
        </div>

    </div>
</template>

<script>
  const moment = require('moment')
  export default {
    data() {
      return {
        racings: '',
        types:'',
        hasSelected: false,
        selectedTypes:[true,true,true],
        selectRacing: '',
        selectedRacingMeeting: '',
        selectedRacingType: '',
        selectedCompetitors: '' ,
        now: moment(Date.now()),
      }
    },
    mounted() {
      this.getTypes();
      this.getRacing();
      //refresh racing every 5 minutes
      window.setInterval(() => {
          this.getRacing();
      },1000*60);
      window.setInterval(() => {
        this.now = moment.utc();
      },1000);
    },

    filters: {
      moment: function (date) {
        return moment(date).format('dddd, MMMM Do YYYY');
      }
    },
    methods: {

      //fetch all types and init selectedTypes to all true
      getTypes: function() {
        axios.get('/api/types')
          .then((response) => {
            this.types = response.data;
          })
          .catch((error) => {
            alert(error);
          })
      },
      //fetch next 5 racings
      getRacing: function() {
        var query="";
        if (typeof this.types[0] !== 'undefined'){
          query="?type=";
          for (var key in this.selectedTypes){
            if (this.selectedTypes[key]){
              query=query+this.types[key].name+',';
            }
          }
        }
        axios.get('/api/racing'+query)
          .then((response) => {
            this.racings = response.data;
          })
          .catch((error) => {
            alert(error);
          })
      },
      //get countdown text
      getCountdown: function(time,id) {
        var matchTime = moment.utc(time);
        var days = matchTime.diff(this.now, 'days');
        var hours = matchTime.diff(this.now, 'hours') % 24;
        var mins = matchTime.diff(this.now, 'minutes') % 60;
        var seconds = matchTime.diff(this.now, 'seconds') % 60;
        var timeLeft = "";
        if ((seconds > 0) || (mins > 0) || (hours > 0) || (days > 0)) {
          if (days > 0) {
            timeLeft = timeLeft + days + " d ";
          }
          if (hours > 0) {
            timeLeft = timeLeft + hours + " h ";
          }
          if (mins > 0) {
            timeLeft = timeLeft + mins + " m ";
          }
          timeLeft = timeLeft + seconds + " s ";
        } else {
          timeLeft = "closed";
          if (id==this.selectRacing.id){
            this.selectRacing="";
            this.hasSelected= false;
            this.selectedRacingMeeting= "";
            this.selectedCompetitors= "";
            this.selectedRacingType="";
          }
          this.getRacing();
        }
        return timeLeft;
      },

      //event after clicking one single race
      showRacing: function(id) {
        //get meeting
        axios.get('/api/racing/' + id)
          .then((response) => {

            this.selectRacing = response.data;
            this.selectedRacingMeeting = response.data.meeting;
            this.selectedRacingType=response.data.type;
            this.hasSelected = true;
          })
          .catch((error) => {
            alert(error);
          })

        //get selectedCompetitors
        axios.get('/api/racing/' + id + '/competitors')
          .then((response) => {
            this.selectedCompetitors = response.data;
          })
          .catch((error) => {
            alert(error);
          })

      },

      //filter the racing and re-render the list
      filterType:function(key){
        var count=0;
        for (var val of this.selectedTypes){
           if (val){
              count++;
           }
        }
        if (((count>=2) && this.selectedTypes[key]) || (!this.selectedTypes[key])){
          this.selectedTypes[key]=!this.selectedTypes[key];
          this.getRacing();
        }

      }
    }
  }
</script>
