/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/02/2018, 10:40:26 PM
    Author     : Gu
*/
.filter .icon .seal{
    text-align: center;    
    line-height: 50px;
    height: 55px;
    border-radius: 9px;
    cursor: pointer;
}
.filter{
    margin-top:15px;
    margin-bottom:15px;
}
.filter .icon.selected .seal{
    background: #d32123;
}
.filter .icon.selected .seal:hover{
    background: #f34547;
}
.filter .icon.no-selected .seal{
    background:#676767
}
.filter .icon.no-selected .seal{
    background:#848484
}

.filter .icon img{
    max-width:50px;
}
.filter .icon.Thoroughbred img{
    width:31px;
}
.filter .icon.Greyhounds img{
    width:45px;
}
#next5-racing-list{
    list-style: none;
    padding-left:0px;
    margin-bottom: 0px!important;
}
#next5-racing-list img{
    max-width: 25px;
}
#next5-racing-list .icon{
    text-align:center;
}
.panel-body{
    padding-top:0px!important;
    padding-bottom:0px!important;
}
#next5-racing-list li .row{ 
    cursor: pointer;
}
#next5-racing-list li .row:hover{
    background-color: #eae9e9;
}
.selectedRacing .countdown{
    text-align: right;
    margin-top: 22px;
    margin-bottom: 11px;
    text-transform: uppercase;
}
#next5-racing-list .row{
    padding:10px 0px;
    border-bottom: 1px solid #e2e0e0;
}

#next5-racing-list .countdown{
    text-align: right;
}